<!DOCTYPE html>
<html>
<head>
  <title>LcpjOverflowChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav>
    <ul>
      <%= link_to "overflow", root_path %>
      <% if session[:user_id] %>
        <%= link_to "| Trending |", trending_path %>
        <%= link_to "| Logout |", logout_path %>
      <% else %>
        <%= link_to "| Login |", login_path %>
        <%= link_to "| Register |", register_path %>
      <% end %>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
